@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
body {
  font-family: Rubik, sans-serif;
  line-height: 1.5;
}
body .padding {
  padding: 60px 180px;
}
body .padding button {
  text-decoration: none;
  border: none;
  background: none;
  padding: 0 20px;
}
body .padding button:hover {
  cursor: pointer;
}
body .padding .gray {
  color: #4F5665;
  font-size: 16px;
}
body .padding header .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .padding header .menu .laslesVPN {
  display: flex;
  align-items: center;
  margin: 0 5px;
}
body .padding header .menu .laslesVPN .img_menu {
  width: 35px;
  height: 36px;
}
body .padding header .menu .laslesVPN p {
  margin: 0 5px;
  font-size: 20px;
  font-weight: medium;
}
body .padding header .menu .laslesVPN span {
  font-weight: bold;
}
body .padding header .menu .right_menu button {
  font-weight: bold;
  font-size: 16;
  padding: 20px;
}
body .padding header .menu .right_menu .orange {
  color: #F53855;
  border: 2px solid #F53855;
  border-radius: 30px;
  width: 150px;
}
body .padding header .central {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}
body .padding header .central .main {
  width: 555px;
  text-align: left;
}
body .padding header .central .main h1 {
  font-size: 50px;
  font-weight: medium;
  padding: 20px 0;
}
body .padding header .central .main h1 span {
  font-weight: bold;
}
body .padding header .central button {
  background-color: #F53838;
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 250px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0px 20px 74px -19px rgb(245, 56, 56);
}
body .padding header .central img {
  width: 611px;
  height: 382px;
}
body .padding header .info_center {
  display: flex;
  justify-content: center;
}
body .padding header .info_center .info {
  display: flex;
  width: 1140px;
  justify-content: space-between;
  margin: 0 30px;
  box-shadow: 0px 25px 48px 0px rgba(34, 60, 80, 0.42);
  border-radius: 15px;
}
body .padding header .info_center .info .info_stat {
  display: flex;
  padding: 0 30px;
}
body .padding header .info_center .info .info_stat .statistics {
  padding: 0 30px;
}
body .padding header .info_center .info .info_stat .statistics h1 {
  font-size: 25px;
  font-weight: bold;
  margin: 40px 0 5px 0;
}
body .padding header .info_center .info .info_stat .statistics p {
  font-weight: 200;
  font-size: 20px;
  margin: 5px 0 40px 0;
}
body .padding header .header_bottom {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
}
body .padding header .header_bottom .header_bottom_text {
  text-align: left;
  width: 428px;
}
body .padding header .header_bottom .header_bottom_text h1 {
  font-size: 35px;
  font-weight: 400;
}
body .padding header .header_bottom .header_bottom_text h2 {
  color: #4F5665;
  font-size: 16px;
  font-weight: 200;
}
body .padding header .header_bottom .header_bottom_text .green {
  display: flex;
  color: #4F5665;
  font-size: 16px;
  font-weight: 200;
}
body .padding main .text {
  text-align: center;
}
body .padding main .text h1 {
  font-weight: 400;
  font-size: 35px;
}
body .padding main .text h2 {
  text-align: center;
  color: #4F5665;
  font-size: 16px;
  font-weight: 200;
}
body .padding main .columns {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}
body .padding main .columns .column {
  text-align: center;
  height: 760px;
  position: relative;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  padding: 60px;
}
body .padding main .columns .column .column_top h1 {
  font-size: 18px;
  font-weight: 500;
}
body .padding main .columns .column .column_top .green {
  display: flex;
}
body .padding main .columns .column .column_top .green h2 {
  color: #4F5665;
  font-size: 16px;
  font-weight: 200;
}
body .padding main .columns .column .column_button {
  position: absolute;
  bottom: 10%;
  margin-top: 50px;
  text-align: center;
}
body .padding main .columns .column .column_button h1 {
  font-size: 25px;
  font-weight: 500;
}
body .padding main .columns .column .column_button h1 span {
  color: #4F5665;
  font-size: 25px;
  font-weight: 300;
}
body .padding main .columns .column .column_button button {
  color: #F53855;
  border: 2px solid #F53855;
  border-radius: 30px;
  width: 200px;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 0;
}
body .padding main .columns .column .column_button .active {
  color: white;
  background-color: #F53855;
  border-radius: 30px;
  width: 200px;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 0;
  box-shadow: 0px 20px 74px -19px rgb(245, 56, 56);
}
body .padding .second_main {
  text-align: center;
}
body .padding .second_main h2 {
  font-size: 35px;
  font-weight: 400px;
}
body .padding .second_main h3 {
  color: #4F5665;
  font-size: 16px;
  font-weight: 200;
}
body .padding .second_main h3 span {
  font-weight: 400;
}
body .padding .second_main img {
  padding-top: 40px;
}/*# sourceMappingURL=style.css.map */