@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
body {
  font-family: Rubik, sans-serif;
  line-height: 1.5;
}
body .padding {
  padding: 0;
  margin: 0;
}
body .padding button {
  text-decoration: none;
  border: none;
  background: none;
  padding: 0 20px;
}
body .padding button:hover {
  cursor: pointer;
}
body .padding .gray {
  color: #4F5665;
  font-size: 16px;
}
body .padding header {
  padding: 60px 180px;
}
body .padding header .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .padding header .menu .laslesVPN {
  display: flex;
  align-items: center;
  margin: 0 5px;
}
body .padding header .menu .laslesVPN .img_menu {
  width: 35px;
  height: 36px;
}
body .padding header .menu .laslesVPN p {
  margin: 0 5px;
  font-size: 20px;
  font-weight: medium;
}
body .padding header .menu .laslesVPN span {
  font-weight: bold;
}
body .padding header .menu .right_menu button {
  font-weight: bold;
  font-size: 16;
  padding: 20px;
}
body .padding header .menu .right_menu .orange {
  color: #F53855;
  border: 2px solid #F53855;
  border-radius: 30px;
  width: 150px;
}
body .padding header .central {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}
body .padding header .central .main {
  width: 555px;
  text-align: left;
}
body .padding header .central .main h1 {
  font-size: 50px;
  font-weight: medium;
  padding: 20px 0;
}
body .padding header .central .main h1 span {
  font-weight: bold;
}
body .padding header .central button {
  background-color: #F53838;
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 250px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0px 20px 74px -19px rgb(245, 56, 56);
}
body .padding header .central img {
  width: 611px;
  height: 382px;
}
body .padding header .info_center {
  display: flex;
  justify-content: center;
}
body .padding header .info_center .info {
  display: flex;
  width: 1140px;
  justify-content: space-between;
  margin: 0 30px;
  box-shadow: 0px 25px 48px 0px rgba(34, 60, 80, 0.42);
  border-radius: 15px;
  padding: 10px 0;
}
body .padding header .info_center .info .info_stat {
  display: flex;
  padding: 0 70px;
  margin: 12px;
}
body .padding header .info_center .info .info_stat .statistics {
  padding: 0 30px;
}
body .padding header .info_center .info .info_stat .statistics h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0 5px 0;
}
body .padding header .info_center .info .info_stat .statistics p {
  font-weight: 200;
  font-size: 20px;
  margin: 5px 0 20px 0;
}
body .padding header .info_center .info .info_stat:nth-child(1) {
  border-right: 1px solid #ebebeb;
}
body .padding header .info_center .info .info_stat:nth-child(2) {
  border-right: 1px solid #ebebeb;
}
body .padding header .header_bottom {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
}
body .padding header .header_bottom .header_bottom_text {
  text-align: left;
  width: 428px;
}
body .padding header .header_bottom .header_bottom_text .bold {
  font-size: 35px;
  font-weight: 400;
}
body .padding header .header_bottom .header_bottom_text h2 {
  color: #4F5665;
  font-size: 16px;
  font-weight: 200;
  margin: 20px 0;
}
body .padding header .header_bottom .header_bottom_text .green {
  display: flex;
  color: #4F5665;
  font-size: 16px;
  font-weight: 200;
}
body .padding .background {
  padding: 0;
  margin: 0;
  width: 100%;
  background: linear-gradient(rgb(247, 246, 246), rgb(255, 255, 255));
}
body .padding main {
  padding: 60px 180px;
}
body .padding main .text {
  text-align: center;
}
body .padding main .text h2 {
  font-weight: 400;
  font-size: 35px;
  margin-top: 30px;
}
body .padding main .text h3 {
  text-align: center;
  color: #4F5665;
  font-size: 16px;
  font-weight: 200;
}
body .padding main .columns {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}
body .padding main .columns .column {
  text-align: center;
  height: 760px;
  position: relative;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  padding: 60px;
}
body .padding main .columns .column .column_top p {
  font-size: 18px;
  font-weight: 500;
}
body .padding main .columns .column .column_top .green {
  display: flex;
}
body .padding main .columns .column .column_top .green h2 {
  color: #4F5665;
  font-size: 16px;
  font-weight: 200;
}
body .padding main .columns .column .column_button {
  position: absolute;
  bottom: 10%;
  margin-top: 50px;
  text-align: center;
}
body .padding main .columns .column .column_button p {
  font-size: 25px;
  font-weight: 500;
}
body .padding main .columns .column .column_button p span {
  color: #4F5665;
  font-size: 25px;
  font-weight: 300;
}
body .padding main .columns .column .column_button button {
  color: #F53855;
  border: 2px solid #F53855;
  border-radius: 30px;
  width: 200px;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 0;
}
body .padding main .columns .column .column_button .active {
  color: white;
  background-color: #F53855;
  border-radius: 30px;
  width: 200px;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 0;
  box-shadow: 0px 20px 74px -19px rgb(245, 56, 56);
}
body .padding .second_main {
  padding: 60px 180px 200px;
  text-align: center;
}
body .padding .second_main h2 {
  font-size: 35px;
  font-weight: 400px;
}
body .padding .second_main h3 {
  color: #4F5665;
  font-size: 16px;
  font-weight: 200;
}
body .padding .second_main h3 span {
  font-weight: 400;
}
body .padding .second_main .planet {
  margin-top: 70px;
}
body .padding .second_main .reviews {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  overflow: auto;
}
body .padding .second_main .reviews .review {
  width: 400px;
  height: 230px;
  border-radius: 15px;
  border: 1px solid #DDDDDD;
  margin: 20px;
  padding: 10px;
}
body .padding .second_main .reviews .review .review_header {
  display: flex;
}
body .padding .second_main .reviews .review .review_header .information {
  display: flex;
  align-items: center;
}
body .padding .second_main .reviews .review .review_header .information img {
  width: 50px;
  height: 50px;
  padding: 20px;
}
body .padding .second_main .reviews .review .review_header .information .name_city {
  text-align: left;
  width: 213px;
}
body .padding .second_main .reviews .review .review_header .information .name_city h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
body .padding .second_main .reviews .review .review_header .information .name_city h3 {
  font-size: 14px;
  font-weight: 200;
  color: #4F5665;
  margin: 0;
}
body .padding .second_main .reviews .review .review_header .star {
  display: flex;
  align-items: center;
  margin: 10px 10px 10px 30px;
}
body .padding .second_main .reviews .review .review_header .star h2 {
  font-size: 16px;
  font-weight: 200;
}
body .padding .second_main .reviews .review .review_header .star img {
  width: 16px;
  height: 16px;
  padding: 10px;
}
body .padding .second_main .reviews .review:nth-child(1) {
  border: 1px solid #F53855;
}
body .padding .second_main .reviews .rating_text {
  color: #0B132A;
  font-size: 16px;
  font-weight: 200;
  text-align: left;
  width: 340px;
  line-height: 2;
  margin-left: 20px;
}
body .padding .second_main .buttons {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}
body .padding .second_main .buttons img {
  width: 115px;
  height: 15px;
  padding: 10;
}
body .padding .second_main .buttons .left_right {
  display: flex;
  width: 130px;
}
body .padding .second_main .buttons .left_right img {
  width: 60px;
  height: 60px;
  margin: 4px;
  padding: 10;
}
body .padding .second_main .buttons .left_right .right {
  height: 60px;
  margin: 4px;
  rotate: 180deg;
  padding: 10;
}
body .padding footer {
  padding: 60px 180px;
}
body .padding footer .subscribe {
  margin: 100px;
  margin-top: -180px;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 25px 48px 0px rgba(34, 60, 80, 0.42);
}
body .padding footer .subscribe .left_info h2 {
  font-size: 35px;
  font-weight: 300;
}
body .padding footer .subscribe .left_info h3 {
  color: #4F5665;
  font-size: 16px;
  font-weight: 200;
}
body .padding footer .subscribe button {
  background-color: #F53838;
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 250px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0px 20px 74px -19px rgb(245, 56, 56);
}
body .padding footer .footer_menu {
  display: flex;
  justify-content: space-between;
}
body .padding footer .footer_menu .left_menu {
  text-align: left;
  width: 340px;
}
body .padding footer .footer_menu .left_menu .laslesVPN {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
body .padding footer .footer_menu .left_menu .laslesVPN .img_menu {
  width: 35px;
  height: 36px;
}
body .padding footer .footer_menu .left_menu .laslesVPN p {
  margin: 0 5px;
  font-size: 20px;
  font-weight: medium;
}
body .padding footer .footer_menu .left_menu .laslesVPN span {
  font-weight: bold;
}
body .padding footer .footer_menu .left_menu h2 {
  font-size: 16px;
  font-weight: 200;
  color: #4F5665;
  margin: 30px 0;
}
body .padding footer .footer_menu .left_menu h2 span {
  font-weight: 300;
}
body .padding footer .footer_menu .left_menu .socmed {
  display: flex;
  margin: 20px 0 0 -20px;
}
body .padding footer .footer_menu .left_menu .log {
  font-size: 16px;
  font-weight: 200;
  margin: 10px 0;
}
body .padding footer .footer_menu .left_menu .log h2 {
  color: #AFB5C0;
}
body .padding footer .footer_menu .left_menu .log span {
  font-weight: 300;
}
body .padding footer .footer_menu .right_columns {
  display: flex;
  justify-content: space-between;
}
body .padding footer .footer_menu .right_columns .right_column {
  text-align: left;
  margin: 0 50px;
}
body .padding footer .footer_menu .right_columns .right_column h2 {
  font-size: 18px;
  font-weight: 300;
  margin: 10px;
}
body .padding footer .footer_menu .right_columns .right_column h3 {
  color: #4F5665;
  font-size: 16px;
  font-weight: 200;
  margin: 10px;
}/*# sourceMappingURL=style.css.map */