@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: Rubik, sans-serif;
    line-height: 1.5;

    .padding {
        padding: 60px 180px;
    
        button{
            text-decoration: none;
            border: none;
            background: none;
            padding: 0 20px;
        }
        button:hover {
            cursor: pointer;
        }
    
        .gray {
            color: #4F5665;
            font-size: 16px;
        }
    
        header{
            .menu {
                display: flex;
                align-items: center;
                justify-content: space-between;
    
                .laslesVPN{
                    display: flex;
                    align-items: center;
                    margin: 0 5px;
    
                    .img_menu {
                        width: 35px;
                        height: 36px;
                    }
                    p {
                        margin: 0 5px;
                        font-size: 20px;
                        font-weight: medium;
                    }
                    span {
                        font-weight: bold;
                    }
                }
    
                .right_menu{
                    button {
                        font-weight: bold;
                        font-size: 16;
                        padding: 20px;
                    }
    
                    .orange{
                        color: #F53855;
                        border: 2px solid #F53855;
                        border-radius: 30px;
                        width: 150px;
                    }
    
                }
            }
            .central {
                padding: 100px 0;
                display: flex;
                justify-content: space-between;
    
                .main {
                    width: 555px;
                    text-align: left;
                    h1 {
                        font-size: 50px;
                        font-weight: medium;
                        padding: 20px 0;
                        span {
                            font-weight: bold;
                        }
                    }
                    
                
    
                }

                button {
                    background-color: #F53838;
                    color: white;
                    font-size: 16px;
                    font-weight: bold;
                    width: 250px;
                    height: 60px;
                    border-radius: 10px;
                    box-shadow: 0px 20px 74px -19px rgba(245, 56, 56, 1);
                }
    
                img {
                    width: 611px;
                    height: 382px;
                }
            }

            .info_center {
                display: flex;
                justify-content: center;
                .info {
                    display: flex;
                    width:1140px;
                    justify-content: space-between;
                    margin: 0 30px;
                    box-shadow: 0px 25px 48px 0px rgba(34, 60, 80, 0.42);
                    border-radius: 15px;

                    .info_stat{
                        display: flex;
                        padding: 0 30px;

                        .statistics {
                            padding: 0 30px;
                            h1 {
                                font-size: 25px;
                                font-weight: bold;
                                margin: 40px 0 5px 0;
                            }
                            p {
                                font-weight: 200;
                                font-size: 20px;
                                margin: 5px 0 40px 0;;
                            }
                        }

                    }
                }
            }
            .header_bottom {
                display: flex;
                justify-content: space-between;
                margin: 100px 0;
                .header_bottom_text {
                    text-align: left;
                    width: 428px;
                    h1 {
                        font-size: 35px;
                        font-weight: 400;
                    }
                    h2 {
                        color: #4F5665;
                        font-size: 16px;
                        font-weight: 200;
                    }
                    .green {
                        display: flex;
                        color: #4F5665;
                        font-size: 16px;
                        font-weight: 200;
                    }
                }
            }
        }
    }
    

    
}


